# Ignore Docker volumes and data
db_data/
*.pid
*.log

# Ignore Docker Compose override files
docker-compose.override.yml

# Ignore Python virtual environments
.env
venv/
__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore other temporary files
*.swp
.DS_Store